0. 所有的题目结果中，给出SQL语句和执行结果。

1. 在新数据库中新建一张 user 表,插入几条数据,属性包含:唯一标识(id),姓名(name)性别(sex).年龄(age).联系方式(phone)，数据如下：

    ('John Doe', 'Male', 25, '123-456-7890')

    ('Jane Smith', 'Female', 31, '987-654-3210')
    
    ('Bob Johnson', 'Male', 22, '555-123-4567')

In [1]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 创建 user 表
cursor.execute('''
CREATE TABLE IF NOT EXISTS user (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    sex TEXT CHECK(sex IN ('Male', 'Female')),
    age INTEGER,
    phone TEXT
)
''')

# 插入数据
users = [
    ('John Doe', 'Male', 25, '123-456-7890'),
    ('Jane Smith', 'Female', 31, '987-654-3210'),
    ('Bob Johnson', 'Male', 22, '555-123-4567')
]

cursor.executemany('INSERT INTO user (name, sex, age, phone) VALUES (?, ?, ?, ?)', users)

# 提交更改
conn.commit()

# 查询并获取所有数据
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()

# 将结果写入到 TXT 文件
with open('output.txt', 'w') as f:
    for row in rows:
        f.write(f'{row}\n')

# 打印确认信息
print('数据已成功写入 output.txt')

# 关闭连接
conn.close()

数据已成功写入 output.txt

2. 写出 SQL语句,查询 user 表中所有年龄在 20-30 范围内的用户

In [2]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 查询年龄在 20 到 30 范围内的用户
cursor.execute('SELECT * FROM user WHERE age BETWEEN 20 AND 30')
rows = cursor.fetchall()

# 打印查询结果
if rows:
    print("年龄在 20 到 30 范围内的用户:")
    for row in rows:
        print(row)
else:
    print("没有找到符合条件的用户。")

# 关闭连接
conn.close()

年龄在 20 到 30 范围内的用户:
(30, 'John Doe', 'Male', 25, '123-456-7890')
(32, 'Bob Johnson', 'Male', 22, '555-123-4567')

3. 写出SQL语句，向user表中添加自己的个人信息，并添加几条和你姓名同姓的虚拟信息。

In [3]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 插入个人信息
cursor.execute('''
INSERT INTO user (name, sex, age, phone) VALUES (?, ?, ?, ?)
''', ('Alex Smith', 'Male', 28, '123-987-6543'))

# 插入与姓名同姓的虚拟用户信息
virtual_users = [
    ('Alice Smith', 'Female', 30, '234-567-8901'),
    ('Aaron Smith', 'Male', 27, '345-678-9012'),
    ('Angela Smith', 'Female', 24, '456-789-0123')
]

cursor.executemany('''
INSERT INTO user (name, sex, age, phone) VALUES (?, ?, ?, ?)
''', virtual_users)

# 提交更改
conn.commit()

# 查询并打印所有数据，以确认插入成功
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()

# 打印结果
print("当前用户表中的所有用户:")
for row in rows:
    print(row)

# 关闭连接
conn.close()

当前用户表中的所有用户:
(30, 'John Doe', 'Male', 25, '123-456-7890')
(31, 'Jane Smith', 'Female', 31, '987-654-3210')
(32, 'Bob Johnson', 'Male', 22, '555-123-4567')
(33, 'Alex Smith', 'Male', 28, '123-987-6543')
(34, 'Alice Smith', 'Female', 30, '234-567-8901')
(35, 'Aaron Smith', 'Male', 27, '345-678-9012')
(36, 'Angela Smith', 'Female', 24, '456-789-0123')

4. 写出 SQL语句,查询 user 表中年龄在 20-30 范围内,名字包含“你的姓氏”的用户,并按照年龄从大到小排序输出

In [4]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 查询年龄在 20 到 30 范围内且名字包含“Smith”的用户
surname = 'Smith'
query = '''
SELECT * FROM user
WHERE age BETWEEN 20 AND 30 AND name LIKE ?
ORDER BY age DESC
'''

# 执行查询
cursor.execute(query, ('%' + surname + '%',))
rows = cursor.fetchall()

# 打印查询结果
if rows:
    print(f"年龄在 20 到 30 范围内且名字包含 '{surname}' 的用户:")
    for row in rows:
        print(row)
else:
    print(f"没有找到符合条件的用户。")

# 关闭连接
conn.close()

年龄在 20 到 30 范围内且名字包含 'Smith' 的用户:
(34, 'Alice Smith', 'Female', 30, '234-567-8901')
(33, 'Alex Smith', 'Male', 28, '123-987-6543')
(35, 'Aaron Smith', 'Male', 27, '345-678-9012')
(36, 'Angela Smith', 'Female', 24, '456-789-0123')

5. 写出 SQL 语句,计算 user 表中所有用户的平均年龄

In [5]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 查询所有用户的平均年龄
cursor.execute('SELECT AVG(age) AS average_age FROM user')
average_age = cursor.fetchone()[0]

# 打印平均年龄
if average_age is not None:
    print(f"所有用户的平均年龄: {average_age:.2f}")
else:
    print("没有找到用户信息。")

# 关闭连接
conn.close()

所有用户的平均年龄: 26.71

6. 新建两张表team 表(id,teamName)和score 表(id,teamid,userid,score)。其中score 表中的 teamid 为指向 team表id 的外键，userid 为指向 user表id的外键

In [6]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')  # 数据库文件名
cursor = conn.cursor()

# 创建 team 表
cursor.execute('''
CREATE TABLE IF NOT EXISTS team (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teamName VARCHAR(100) NOT NULL
)
''')

# 创建 score 表
cursor.execute('''
CREATE TABLE IF NOT EXISTS score (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teamid INTEGER,
    userid INTEGER,
    score INTEGER,
    FOREIGN KEY (teamid) REFERENCES team(id),
    FOREIGN KEY (userid) REFERENCES user(id)
)
''')

# 提交更改
conn.commit()

# 打印成功信息
print("team 表和 score 表已成功创建。")

# 关闭连接
conn.close()

team 表和 score 表已成功创建。

7. 在team表中和score表中插入合适的记录，写出 SQL语句,查询 teamName 为“ECNU”的队伍中，年龄小于 20 的用户们，结果不得为空。

In [7]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# 插入团队记录
cursor.execute("INSERT INTO team (teamName) VALUES ('ECNU')")
cursor.execute("INSERT INTO team (teamName) VALUES ('Team A')")
cursor.execute("INSERT INTO team (teamName) VALUES ('Team B')")

# 假设用户 ID 1 和 ID 3 年龄小于 20
# 插入分数记录
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (1, 1, 80)")  # User ID 1
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (1, 2, 90)")  # User ID 2
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (2, 1, 70)")
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (2, 3, 85)")  # User ID 3

# 提交插入的记录
conn.commit()

# 查询年龄小于 20 的用户
cursor.execute('''
SELECT u.*
FROM user u
JOIN score s ON u.id = s.userid
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU' AND u.age < 20
''')

# 获取查询结果
rows = cursor.fetchall()

# 打印结果
if rows:
    print("团队名称为 'ECNU' 中，年龄小于 20 的用户:")
    for row in rows:
        print(row)
else:
    print("没有找到符合条件的用户。")

# 关闭连接
conn.close()

没有找到符合条件的用户。

8. 写出 SQL 语句,计算 teamName为“ECNU”的总分(假设 score 存在 null值,nul值默认为 0 加入计算)。

In [8]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# 计算 teamName 为 "ECNU" 的总分
cursor.execute('''
SELECT SUM(COALESCE(s.score, 0)) AS total_score
FROM score s
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU'
''')

# 获取查询结果
total_score = cursor.fetchone()[0]

# 打印总分
if total_score is not None:
    print(f"团队名称为 'ECNU' 的总分: {total_score}")
else:
    print("没有找到符合条件的记录。")

# 关闭连接
conn.close()

团队名称为 'ECNU' 的总分: 510

9. 写出SQL语句，删除user表中个人信息的记录。

In [9]:
import sqlite3

# 创建数据库连接
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# 删除 user 表中的所有记录
cursor.execute('DELETE FROM user')

# 提交更改
conn.commit()

# 打印成功信息
print("user 表中的所有个人信息记录已成功删除。")

# 关闭连接
conn.close()

user 表中的所有个人信息记录已成功删除。